{% extends 'layout.html.twig' %}

{% block content %}
	<table>
	<tr>
		<th>id  <a href="{{ path('uselessEntityIndexSorted', { 'sortAttr':'id', 'sortDir':'asc' } ) }}"> &#9757</a> <a href="{{ path('uselessEntityIndexSorted', { 'sortAttr':'id', 'sortDir':'desc' } ) }}">&#9759</a></th>
		<th>string <a href="{{ path('uselessEntityIndexSorted', { 'sortAttr':'string', 'sortDir':'asc' } ) }}">&#9757</a> <a href="{{ path('uselessEntityIndexSorted', { 'sortAttr':'string', 'sortDir':'desc' } ) }}">&#9759</a></th>
		<th>text <a href="{{ path('uselessEntityIndexSorted', { 'sortAttr':'text', 'sortDir':'asc' } ) }}">&#9757</a> <a href="{{ path('uselessEntityIndexSorted', { 'sortAttr':'text', 'sortDir':'desc' } ) }}">&#9759</a></th>
		<th>datetime <a href="{{ path('uselessEntityIndexSorted', { 'sortAttr':'datetime', 'sortDir':'asc' } ) }}">&#9757</a> <a href="{{ path('uselessEntityIndexSorted', { 'sortAttr':'datetime', 'sortDir':'desc' } ) }}">&#9759</a></th>
		<th>boolean <a href="{{ path('uselessEntityIndexSorted', { 'sortAttr':'boolean', 'sortDir':'asc' } ) }}">&#9757</a> <a href="{{ path('uselessEntityIndexSorted', { 'sortAttr':'boolean', 'sortDir':'desc' } ) }}">&#9759</a></th>
		<th>integer <a href="{{ path('uselessEntityIndexSorted', { 'sortAttr':'integer_value', 'sortDir':'asc' } ) }}">&#9757</a> <a href="{{ path('uselessEntityIndexSorted', { 'sortAttr':'integer_value', 'sortDir':'desc' } ) }}">&#9759</a></th>
		<th>liens</th>
	</tr>
	
	{% for useless_entity in useless_entities %}
	<tr>
		<td>{{ useless_entity.id }}</td>
		<td>{{ useless_entity.string }}</td>
		<td>{{ useless_entity.text }}</td>
		<td>{{ useless_entity.datetime|date("m/d/Y") }}</td>
		<td>{{ useless_entity.boolean ? 'True' : 'False' }}</td>
		<td>{{ useless_entity.integervalue }}</td>
		<td><a href="{{ path('uselessEntityShow', {'id': useless_entity.id }) }}">voir</a> ou </td>
		<td><a href="{{ path('uselessEntityUpdateAction', {'id': useless_entity.id }) }}">update</a> ou</td>
		<td><a href="{{ path('uselessEntity_delete', {'id': useless_entity.id }) }}">delete</a></td>
	</tr>
	{% endfor %}
	
	</table>
{% endblock %}
