{% extends 'layout.html.twig' %}

{% block content %}
	<h3>#{{ useless_entity.id}}: {{ useless_entity.string }}</h3>
		
	<p>{{ useless_entity.text }}</p>
	
	<p>
	Publié le {{ useless_entity.datetime|date("m/d/Y") }}.
	Public: {{ useless_entity.boolean }}.
	Like(s): {{ useless_entity.integervalue }}.
	</p>
	
{% endblock %}
